body,
html {
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link,a:visited {
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: grey;
  opacity: 0.6;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}
th {
  background-color: rgb(61, 215, 61);
}
